@import './structure.css';

body{
  background-color: #FFFEED;
  background-image: url('../images/bg-light.png');
  background-size: cover;
  background-repeat: repeat-y;
  font-family: 'poppins';
}

.main{
  min-height: 100vh;
}

a, a:hover{
  text-decoration: none;
}

.login-container{
  min-height: 100vh;
}

.login-container div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2%;
}

.login-card{
  background: #FAF296;
  box-shadow: 2px 0 5px rgba(179, 179, 179, 0.25), 
              -2px 0 5px rgba(179, 179, 179, 0.25), 
              0 -2px 5px rgba(179, 179, 179, 0.25), 
              0 2px 5px rgba(179, 179, 179, 0.25);
  border-radius: 17px;
  padding: 5%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.bw-button{
  background: #FFFEED!important;
  box-shadow: 1px 1px 4px rgba(155, 155, 155, 0.25);
  border: none;
  border-radius: 10px!important;
  padding: 10px;
  /* width: 100%; */
  margin: 5px;
  font-size: .8em;
  font-weight: bold;
}

.menu-button{
  width: 100%;
}

.bw-button:focus{
  outline: none;
}

.bw-button:hover{
  background: #fdfce1!important;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  transition: .3s ease;
}

.overlay{
  /* display: none; Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.create-bucket-prompt{
  background: #FFFFFF;
  /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25); */
  border-radius: 40px;
  width: 100%;
  padding: 2%;
  margin: 2%;
}

.create-bucket-prompt:focus{
  outline: none;
}

.bucket-image{
  width: 85%;
  margin: 3% 0;
}

.single-bucket-container{
  position: relative;
}

.bucket-details{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.avatar{
  border-radius: 50%;
  width: 50%;
}

.avatar-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.drawer{
  position: fixed;
  height: 90vh;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #FFFEED;
  border-radius: 15px;
  z-index: 10;
  right: 10%;
  top: 5%;
  padding: 2%;
}

.drawer-content{
  height: 100%;
}

.bucket-open{
  background: #FFFEED;
  /* box-shadow: 2px 0 5px rgba(0, 0, 0, 0.25), 
              -2px 0 5px rgba(0, 0, 0, 0.25), 
              0 -2px 5px rgba(0, 0, 0, 0.25), 
              0 2px 5px rgba(0, 0, 0, 0.25); */
  border-radius: 15px;
  position: absolute;
  left: 50%;
  width: 100%;
  z-index: 9;
  transform: translate(-50%, 0);
}

.wishes-container{
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: none;
}

.wish{
  background: #FAF296;
  /* box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25); */
  border-radius: 10px;
  width: 99%;
}

.content-box{
  background: #FFFFFF;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 2%;
}

.donate-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.donate-title img{
  width: 50%;
}

.donate-card{
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  padding: 4% 4%;
  background: #FAF296;
}

.bucket-title{
  display: flex;
  justify-content: space-between;
}

.create-bucket-card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #FFFEED;
  /* box-shadow: 10px 0 10px rgba(0, 0, 0, 0.25), 
              -10px 0 10px rgba(0, 0, 0, 0.25), 
              0 -10px 10px rgba(0, 0, 0, 0.25), 
              0 10px 10px rgba(0, 0, 0, 0.25); */
  border-radius: 15px;
  position: absolute;
  left: 50%;
  width: 100%;
  min-height: 300px;
  z-index: 9;
  transform: translate(-50%, 0);
}

input, textarea{
  background: #FFFFFF;
  /* box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 10px;
  border: 1px solid #b9aa00;
  padding: 1%;
  width: 80%;
}

input:focus, textarea:focus{
  outline: none
}

.video{
  position: relative; 
  padding-bottom: 56.25%; 
  min-height: 500px;
  margin-top: 20px; 
  margin-bottom: 20px;
}

.not-found{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.not-found > img{
  width: 40%;
  margin-bottom: 30px;
}

#brand{
  width: 15%;
}

#login-logo{
  width: 50%;
}

.wish-action-icon{
  font-size: medium!important;
}

.bucket-title{
  font-size: 0.75em!important;
}

.edit-wish{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.bucket-actions{
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

@media only screen and (max-width:425px) { 
  *{
    font-size: small;
  }
	.top-bar{
    margin-bottom: 20px;
  }

  .create-bucket-card{
    width: 90%;
  }

  .create-bucket-prompt{
    margin: auto!important;
  }

  .single-bucket-container{
    width: 75%;
    margin: auto;
  }

  .bucket-open{
    width: 90%;
    padding: 2%!important;
    text-align: center;
  }

  .wish{
    text-align: start;
    padding: 2%!important;
  }

  .wish-actions{
    display: flex;
  }

  .donate-content{
    margin-top: 5px;
  }
  
  .donate-card{
    margin-top: 5px;
  }

  .help-bucket{
    width: 75%;
    margin: auto;
  }

  .login-container{
    text-align: center;
  }

  .login-container div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
    
  #brand{
    width: 30%;
  }

}
